.conteiner{
    width: fit-content;
    
    margin: 50px auto;
}
.conteiner-input {
    text-align: center;
}
.conteiner-res {
    margin-top: 50px;
    max-width: 650px;
}
.anyimage{
    width: 300px;
    margin: 10px;
}
